<html lang="en">

<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 2px solid black;
}
</style>
<h1>                                  counselling</h1>
<head>
    <link ahref="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body bgcolor="grey">
         <table>
          <tr>
            <th>Enter id</th>
            <th>Name</th>
            <th>mob num</th>
            <th>date</th>
            <th>course</th>
            
          </tr>
          <tr>
            <td><input type="text" name="Enter id" value=""><br></td>
            <td><input type="text" name="Name" value=""><br></td>
            <td><input type="text" name="mob num" value=""><br></td>
            <td><input type="text" name="date" value=""><br></td>
            <td><input type="text" name="course" value=""><br></td>
            
          </tr>
         </table>
    </body>     
</html>






<!-- <html lang="en">
<head>
    <link ahref="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body bgcolor="grey">
    	<div class="box">
  			<h1>counselling</h1>
  			<form action="/" method="post">


        <label for="date"><b>date</b></label>
        <br>
        <input type="text" placeholder="Enter date" name="date" required>
        <br> 
        <label for="course"><b>course</b></label>
        <br>
        <input type="text" placeholder="Enter course" name="course" required><br>
            </form>
        </div>

    
    </body>
</html>     -->