<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 2px solid black;
}
</style>
</head>
<body
bgcolor = "grey">

<h2>joining</h2>

<table>
  <tr>
    <th>Name</th>
    <th>course</th>
    <th>date of joining</th>
    <th>date of completion</th>
    <th>course fee</th>
    <th>instuctor</th>
    <th>adhar num</th>
    <th>mobile num</th>
    <th>email id</th>
    <th>reamrks</th>
  </tr>
  <tr>
    <td><input type="text" name="Name" value=""><br></td>
    <td><input type="text" name="course" value=""><br></td>
    <td><input type="text" name="date_joining" value=""><br></td>
    <td><input type="text" name="completion_date" value=""><br></td>
    <td><input type="text" name="course_fee" value=""><br></td>
    <td><input type="text" name="instructor" value=""><br></td>
    <td><input type="text" name="aadhar_number" value=""><br></td>
    <td><input type="text" name="mobile" value=""><br></td>
    <td><input type="text" name="email" value=""><br></td>
    <td><input type="text" name="remark" value=""><br></td>
  </tr>
</table>


</body>
</html>




























































<!-- <!DOCTYPE html>
<html>
<body
bgcolor = "blue">

<h2>Joining</h2>

<form action="/action_page.php">
  Name:<br>
  <input type="text" name="Name" value="">
  <br>
  course:<br>
  <input type="text" name="course" value="">
  <br>
  completion_date:<br>
  <input type="text" name="completion_date" value="">
  <br>
  date_joining:<br>
  <input type="text" name="date_joining" value="">
  <br>
  course_fee:<br>
  <input type="text" name="course_fee" value="">
  <br>
  instructor:<br>
  <input type="text" name="instructor" value="">
  <br>
  aadhar_number:<br>
  <input type="text" name="aadhar_number" value="">
  <br>
  mobile:<br>
  <input type="text" name="mobile" value="">
  <br>
  email:<br>
  <input type="text" name="email" value="">
  <br>
  remark:<br>
  <input type="text" name="remark" value="">
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 

</body>
</html> -->