<html lang="en">
<head>
    <link ahref="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>
    <body bgcolor="grey">
    	<div class="box">
  			<form action="/" method="post">


        <label for="Name"><b>Name</b></label>
        <br>
        <input type="text" placeholder="Enter Name" name="Name" required>
        <br> 
        <label for="Email"><b>Email</b></label>
        <br>
        <input type="text" placeholder="Enter Email" name="Email" required><br>

        <label for="MobileNum"><b></b>MobileNum</label>
        <br>
        <input type="text" placeholder=" Enter Mobile Number" name="MobileNum" required>
        <br>
        <label for="course"><b>course</b></label>
        <br>
        <input type="text" placeholder="Enter course" name="course" required>
        <br>

        <label for="source"><b>source</b></label>
        <br>
        <input type="text" placeholder="Enter source" name="source" required><br>

        <label for="leadstatus"><b></b>leadstatus</label>
        <br>
        <input type="text" placeholder=" Enter leadstatus" name="leadstatus" required>
        <br>
        <label for="DOB"><b>DOB</b></label>
        <br>
        <input type="text" placeholder="Enter DOB" name="DOB" required>
        <br>

        <label for="counseler"><b>counseler</b></label>
        <br>
        <input type="text" placeholder="Enter counseler" name="counseler" required><br>

        <label for="Remarks"><b></b>Remarks</label>
        <br>
        <input type="text" placeholder=" Enter Remarks" name="Remarks" required>
        <br>
    			<input type="submit" class="button" value="Log In"/>
          <br>
          <input type="submit" class="button" value="delete"/>
  			</form>
		</div>

    
</body>
</html>