<html lang="en">
<!-- <head>
    <link ahref="static/main.css" rel="stylesheet" type="text/css" media="all">
</head> -->
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 2px solid black;
}
</style>
</head>

    <body bgcolor="sky blue">
        <table>
          <tr>
            <th>Enter id</th>
            <th>Name</th>
            <th>mob num</th>
            <th>email</th>
            <th>course</th>
            <th>source</th>
            <th>lead status</th>
            <th>demo date</th>
            <th>counseler</th>
            <th>reamrks</th>
          </tr>
          <tr>
            <td><input type="text" name="Enter id" value=""><br></td>
            <td><input type="text" name="Name" value=""><br></td>
            <td><input type="text" name="mob num" value=""><br></td>
            <td><input type="text" name="emaio" value=""><br></td>
            <td><input type="text" name="course" value=""><br></td>
            <td><input type="text" name="source" value=""><br></td>
            <td><input type="text" name="lead status" value=""><br></td>
            <td><input type="text" name="demo date" value=""><br></td>
            <td><input type="text" name="counseler" value=""><br></td>
            <td><input type="text" name="remark" value=""><br></td>
          </tr>
        </table>




    	<!-- <div class="box">
            <h1>walkins</h1>
  			
  			<form action="/" method="post">


        <label for="id"><b>id</b></label>
        <br>
        <input type="text" placeholder="Enter id" name="id" required>
        <br> 
        <label for="name"><b>name</b></label>
        <br>
        <input type="text" placeholder="Enter name" name="name" required><br>

        <label for="mob num"><b>mob num</b></label>
        <br>
        <input type="text" placeholder="Enter mob num" name="mob num" required>
        <br> 
        <label for="email"><b>email</b></label>
        <br>
        <input type="text" placeholder="Enter email" name="email" required><br>

        <label for="course"><b>course</b></label>
        <br>
        <input type="text" placeholder="Enter course" name="course" required>
        <br> 
        <label for="sourse"><b>sourse</b></label>
        <br>
        <input type="text" placeholder="Enter sourse" name="sourse" required><br>

        <label for="lead status"><b>lead status</b></label>
        <br>
        <input type="text" placeholder="Enter lead status" name="lead status" required>
        <br> 
        <label for="demo date"><b>demo date</b></label>
        <br>
        <input type="text" placeholder="Enter demo date" name="demo date" required><br>

        <label for="counseler"><b>counseler</b></label>
        <br>
        <input type="text" placeholder="Enter counseler" name="counseler" required>
        <br> 
        <label for="remarks"><b>remarks</b></label>
        <br>
        <input type="text" placeholder="Enter remarks" name="remarks" required><br>
            </form>
        </div> -->

    
    </body>
</html>    

